@media screen and (min-width: 1246px){

	* {
	margin: 0;
	padding: 0;
	font-family: verdana;
	}

	body {
		width: 100%;
		background-color: black;
		display: flex;
		color: white;
	}

	#container {
		/*background: green;*/
		display: flex;
		flex-direction: column;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 5%;
	}
	/*    HEADER PART     */
	header {
		display: flex;
		margin-top: 25px;
		justify-content: space-between;
		/*background-color: lime;*/
	}

	#logo {
		display: flex;
		color: white;
	}

	img {
		width: 140px;
		height: auto;
	}

	p {
		align-self: center;
		font-size: 29px;
		font-family: Open Sans;
		margin-top: 5.5px;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
	}

	header nav ul li {
		padding: 14px;
		font-family: sans-serif;
		color: white;
		font-weight: bolder;
		list-style-type: none;
	}

	header nav ul li a {
		text-decoration: none;
		color: white;
		font-family: sans-serif;

	}

	header nav ul li a:hover {
		color: orange;
	}

	#line {
		font-weight: 100;
		font-size: 18px;
		margin-top: -3px;
	}

	header #three-line-image {
		position: absolute;
		color: white;
		visibility: hidden;
	}

	/*    HERO PART     */

	hero {
		display: flex;
		margin: 50px;
		text-align: center;
	}

	hero #hero-content {
		display: flex;
		flex-direction: column;
		/*background-color: orange;*/
		justify-content: center;
		align-content: center;
		height: 80vh;
	}

	hero #hero-content #heading {
		text-align: center;
		display: flex;
		/*background-color: red;*/
		margin-bottom: 50px;
	}

	hero #hero-content #heading h1{
		justify-content: center;
		align-content: center;
		font-size: 100px;
	}

	.btn-notify {
		width: 250px;
		height: 50px;
		border-radius:30px/24px;
		background-color: #55BA55;
		color: white;
		font-family: verdana;
		font-size: 12.5px;
		transition: 0.3s;
		align-self: center;
		margin-top: 50px;
	}

	.btn-notify:hover {
		background-color: #64D862;
	}

	/*    SECTION PART     */

	section {
		/*background-color: orange;*/
		width: 100%;
		height: 190vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
	}

	section #graphity {
		display: flex;
		flex-direction: row;
		margin-bottom: 100px;
		/*background-color: red;*/
		width: 100%;
		text-align: left;
	}

	section #graphity img {
		display: flex;
		flex: 3;
	}

	section #graphity #graphity-content {
		display: flex;
		flex: 5;
		padding: 50px;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		
	}

	section #graphity #graphity-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #graphity #graphity-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
	}

	section #room-25 {
		display: flex;
		flex-direction: row;
		margin-bottom: 100px;
		/*background-color: red;*/
		width: 100%;
	}

	section #room-25 img {
		display: flex;
		flex: 3;
	}

	section #room-25 #room-25-content {
		display: flex;
		flex: 5;
		padding: 50px;
		flex-direction: column;
	}

	section #room-25 #room-25-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #room-25 #room-25-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
	}

	section #graph {
		display: flex;
		flex-direction: row;
		margin-bottom: 100px;
		/*background-color: red;*/
		width: 100%;
	}

	section #graph img {
		display: flex;
		flex: 3;
	}

	section #graph #graph-content {
		display: flex;
		flex: 5;
		flex-direction: column;
		padding: 50px;
		justify-content: center;
		align-content: center;
	}

	section #graph #graph-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #graph #graph-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
	}

	section #section-text {
		display: flex;
		align-self: center;
		padding-bottom: 20px;
	}

	span {
		font-weight: bolder;
		font-family: verdana;
	}

	span:hover {
		color: orange;
	}

	#second-section {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 60vh;
		/*background-color: orange;*/
		justify-content: center;
		align-content: center;
	}

	#second-section #second-section-heading h2{
		justify-content: center;
		align-content: center;
		display: flex;
		text-align: center;
		font-size: 50px;
		margin: 40px 0;
	}

	.btn-notify {
		width: 250px;
		height: 50px;
		border-radius:30px/24px;
		background-color: #55BA55;
		color: white;
		font-family: verdana;
		font-size: 12.5px;
		transition: 0.3s;
		align-self: center;
		margin-top: 50px;
	}

	footer {
		/*background-color: gray;*/
		display: flex;
		flex-direction: column;
		font-family: verdana;
		padding-top: 100px;
	}

	footer #footer-initial {
		/*background-color: yellow;*/
		display: flex;
		justify-content: space-between;
		font-size: 16px;

	}

	footer #footer-initial #web-links {
		line-height: 2;
	}

	footer #footer-initial #web-links ul {
		list-style: none;
	}

	footer #footer-initial #web-links ul li a{
		text-decoration: none;
		color: white;
		font-weight: 150;
	}

	footer #footer-initial #web-links ul li a:hover {
		color: orange;
	}

	footer #footer-initial #app-links #getapp {
		display: flex;
		flex-direction: column;
	}

	footer #footer-initial #app-links #getapp img {
		width: 130px;
		height: auto;
		margin-bottom: 10px;
		border: 1px solid white;
		border-width: 2px;
		border-radius: 12px;
	}

	footer #footer-initial #app-links #getapp img:hover {
		width: 130px;
		height: auto;
		margin-bottom: 10px;
		border: 1px solid orange;
		border-width: 2px;
		border-radius: 12px;
	}

	footer #footer-initial #app-links p {
		font-size: 16px;
		font-family: verdana;
		font-weight: 150;
		margin-bottom: 10px;
	}

	#social-links {
		margin-top: 40px;
	}

	.fa {
	  padding: 13px;
	  font-size: 25px;
	  width: 28px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 3px;
	  border-radius: 50%;
	}

	.fa:hover {
		color: orange;
	}

	.fa-instagram {
	  background: #222326;
	  color: white;
	}

	.fa-twitter {
	  background: #222326;
	  color: white;
	}

	footer #copyright {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 80px;
	}

	footer #copyright #copyright-links ul{
		display: flex;
		list-style: none;
	}

	footer #copyright #copyright-links ul li {
		padding-left: 20px;
	}

	footer #copyright #copyright-links ul li a {
		text-decoration: none;
		color: white;
		font-size: 10px;
	}

	footer #copyright #copyright-links ul li a:hover {
		color: orange;
	}

	footer #copyright #copyright-show p{
		font-size: 15px;
	}

}

/*============================================================================================*/


@media screen and (max-width: 1246px){

	* {
	margin: 0;
	padding: 0;
	font-family: verdana;
	}

	body {
		width: 100%;
		background-color: black;
		display: flex;
		color: white;
	}

	#container {
		/*background: green;*/
		display: flex;
		flex-direction: column;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 5%;
		padding-left: 5%;
		padding-right: 5%;
	}
	/*    HEADER PART     */
	header {
		display: flex;
		margin-top: 25px;
		justify-content: space-between;
		/*background-color: lime;*/
	}

	#logo {
		display: flex;
		color: white;
	}

	img {
		width: 140px;
		height: auto;
	}

	p {
		align-self: center;
		font-size: 29px;
		font-family: Open Sans;
		margin-top: 5.5px;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
	}

	header nav ul li {
		padding: 14px;
		font-family: sans-serif;
		color: white;
		font-weight: bolder;
		list-style-type: none;
	}

	header nav ul li a {
		text-decoration: none;
		color: white;
		font-family: sans-serif;

	}

	header nav ul li a:hover {
		color: orange;
	}

	#line {
		font-weight: 100;
		font-size: 18px;
		margin-top: -3px;
	}

	header #three-line-image {
		position: absolute;
		color: white;
		visibility: hidden;
	}

	/*    HERO PART     */

	hero {
		display: flex;
		margin: 60px -10px 80px -10px;
		text-align: center;
		/*background-color: orange;*/
	}

	hero #hero-content {
		display: flex;
		flex-direction: column;
		/*background-color: orange;*/
		justify-content: center;
		align-content: center;
		height: 80vh;
	}

	hero #hero-content #heading {
		text-align: center;
		display: flex;
		/*background-color: red;*/
		margin-bottom: 50px;
	}

	hero #hero-content #heading h1{
		justify-content: center;
		align-content: center;
		font-size: 100px;
	}

	.btn-notify {
		width: 250px;
		height: 50px;
		border-radius:30px/24px;
		background-color: #55BA55;
		color: white;
		font-family: verdana;
		font-size: 12.5px;
		transition: 0.3s;
		align-self: center;
		margin-top: 50px;
	}

	.btn-notify:hover {
		background-color: #64D862;
	}

	/*    SECTION PART     */

	section {
		/*background-color: orange;*/
		width: 100%;
		height: 190vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
	}

	section #graphity {
		display: flex;
		flex-direction: row;
		margin-bottom: 100px;
		/*background-color: red;*/
		width: 100%;
		text-align: left;

	}

	section #graphity img {
		display: flex;
		flex: 3;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	section #graphity #graphity-content {
		display: flex;
		flex: 5;
		padding: 50px;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		
	}

	section #graphity #graphity-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #graphity #graphity-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
	}

	section #room-25 {
		display: flex;
		flex-direction: row;
		margin-bottom: 100px;
		/*background-color: red;*/
		width: 100%;
	}

	section #room-25 img {
		display: flex;
		flex: 3;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	section #room-25 #room-25-content {
		display: flex;
		flex: 5;
		padding: 50px;
		flex-direction: column;
	}

	section #room-25 #room-25-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #room-25 #room-25-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
	}

	section #graph {
		display: flex;
		flex-direction: row;
		margin-bottom: 100px;
		/*background-color: red;*/
		width: 100%;
	}

	section #graph img {
		display: flex;
		flex: 3;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	section #graph #graph-content {
		display: flex;
		flex: 5;
		flex-direction: column;
		padding: 50px;
		justify-content: center;
		align-content: center;
	}

	section #graph #graph-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #graph #graph-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
	}

	section #section-text {
		display: flex;
		align-self: center;
		text-align: center;
		/*background-color: green;*/
		padding-bottom: 20px;
		padding-top: 20px;

	}

	section #section-text span {
		font-weight: bolder;
		font-family: verdana;
	}

	section #section-text span:hover {
		color: orange;
	}

	#second-section {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 70vh;
		/*background-color: orange;*/
		justify-content: center;
		align-content: center;
		padding-top: 30px;
	}

	#second-section #second-section-heading h2{
		justify-content: center;
		align-content: center;
		display: flex;
		text-align: center;
		font-size: 50px;
		margin: 40px 0;
	}

	.btn-notify {
		width: 250px;
		height: 50px;
		border-radius:30px/24px;
		background-color: #55BA55;
		color: white;
		font-family: verdana;
		font-size: 12.5px;
		transition: 0.3s;
		align-self: center;
		margin-top: 50px;
	}

	footer {
		/*background-color: gray;*/
		display: flex;
		flex-direction: column;
		font-family: verdana;
		padding-top: 100px;
	}

	footer #footer-initial {
		/*background-color: yellow;*/
		display: flex;
		justify-content: space-between;
		font-size: 16px;

	}

	footer #footer-initial #web-links {
		line-height: 2;
	}

	footer #footer-initial #web-links ul {
		list-style: none;
	}

	footer #footer-initial #web-links ul li a{
		text-decoration: none;
		color: white;
		font-weight: 150;
	}

	footer #footer-initial #web-links ul li a:hover {
		color: orange;
	}

	footer #footer-initial #app-links #getapp {
		display: flex;
		flex-direction: column;
	}

	footer #footer-initial #app-links #getapp img {
		width: 130px;
		height: auto;
		margin-bottom: 10px;
		border: 1px solid white;
		border-width: 2px;
		border-radius: 12px;
	}

	footer #footer-initial #app-links #getapp img:hover {
		width: 130px;
		height: auto;
		margin-bottom: 10px;
		border: 1px solid orange;
		border-width: 2px;
		border-radius: 12px;
	}

	footer #footer-initial #app-links p {
		font-size: 16px;
		font-family: verdana;
		font-weight: 150;
		margin-bottom: 10px;
	}

	#social-links {
		margin-top: 40px;
	}

	.fa {
	  padding: 13px;
	  font-size: 25px;
	  width: 28px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 3px;
	  border-radius: 50%;
	}

	.fa:hover {
		color: orange;
	}

	.fa-instagram {
	  background: #222326;
	  color: white;
	}

	.fa-twitter {
	  background: #222326;
	  color: white;
	}

	footer #copyright {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 80px;
	}

	footer #copyright #copyright-links ul{
		display: flex;
		list-style: none;
	}

	footer #copyright #copyright-links ul li {
		padding-left: 20px;
	}

	footer #copyright #copyright-links ul li a {
		text-decoration: none;
		color: white;
		font-size: 10px;
	}

	footer #copyright #copyright-links ul li a:hover {
		color: orange;
	}

	footer #copyright #copyright-show p{
		font-size: 15px;
	}

}

/*============================================================================================*/


@media screen and (max-width: 1116px){

	* {
	margin: 0;
	padding: 0;
	font-family: verdana;
	}

	body {
		width: 100%;
		background-color: black;
		display: flex;
		color: white;
	}

	#container {
		/*background: green;*/
		display: flex;
		flex-direction: column;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 5%;
		padding-left: 5%;
		padding-right: 5%;
	}
	/*    HEADER PART     */
	header {
		display: flex;
		margin-top: 25px;
		justify-content: space-between;
		/*background-color: lime;*/
	}

	#logo {
		display: flex;
		color: white;
	}

	img {
		width: 140px;
		height: auto;
	}

	p {
		align-self: center;
		font-size: 29px;
		font-family: Open Sans;
		margin-top: 5.5px;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
	}

	header nav ul li {
		padding: 6px;
		font-family: sans-serif;
		color: white;
		font-weight: bolder;
		list-style-type: none;
		line-height: 35px;
	}

	header nav ul li a {
		text-decoration: none;
		color: white;
		font-family: sans-serif;

	}

	header nav ul li a:hover {
		color: orange;
	}

	#line {
		font-weight: 100;
		font-size: 18px;
		margin-top: -3px;
	}

	header #three-line-image {
		position: absolute;
		color: white;
		visibility: hidden;
	}

	/*    HERO PART     */

	hero {
		display: flex;
		margin: 60px -10px 160px -10px;
		text-align: center;
		/*background-color: orange;*/
	}

	hero #hero-content {
		display: flex;
		flex-direction: column;
		/*background-color: orange;*/
		justify-content: center;
		align-content: center;
		height: 60vh;
	}

	hero #hero-content #heading {
		text-align: center;
		display: flex;
		/*background-color: red;*/
		margin-bottom: 50px;
	}

	hero #hero-content #heading h1{
		justify-content: center;
		align-content: center;
		font-size: 70px;
	}

	.btn-notify {
		width: 250px;
		height: 50px;
		border-radius:30px/24px;
		background-color: #55BA55;
		color: white;
		font-family: verdana;
		font-size: 12.5px;
		transition: 0.3s;
		align-self: center;
		margin-top: 50px;
	}

	.btn-notify:hover {
		background-color: #64D862;
	}

	/*    SECTION PART     */

	section {
		/*background-color: orange;*/
		width: 100%;
		height: 190vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 20px;
	}

	section #graphity {
		display: flex;
		flex-direction: row;
		margin-bottom: 60px;
		/*background-color: red;*/
		width: 100%;
		text-align: left;

	}

	section #graphity img {
		display: flex;
		flex: 3;
		padding-top: 75px;
		padding-bottom: 75px;
	}

	section #graphity #graphity-content {
		display: flex;
		flex: 5;
		padding: 50px;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		
	}

	section #graphity #graphity-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #graphity #graphity-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
	}

	section #room-25 {
		display: flex;
		flex-direction: row;
		margin-bottom: 60px;
		/*background-color: red;*/
		width: 100%;
	}

	section #room-25 img {
		display: flex;
		flex: 3;
		padding-top: 75px;
		padding-bottom: 75px;
	}

	section #room-25 #room-25-content {
		display: flex;
		flex: 5;
		padding: 50px;
		flex-direction: column;
	}

	section #room-25 #room-25-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #room-25 #room-25-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
	}

	section #graph {
		display: flex;
		flex-direction: row;
		margin-bottom: 60px;
		/*background-color: red;*/
		width: 100%;
	}

	section #graph img {
		display: flex;
		flex: 3;
		padding-top: 75px;
		padding-bottom: 75px;
	}

	section #graph #graph-content {
		display: flex;
		flex: 5;
		flex-direction: column;
		padding: 50px;
		justify-content: center;
		align-content: center;
	}

	section #graph #graph-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #graph #graph-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
	}

	section #section-text {
		display: flex;
		align-self: center;
		text-align: center;
		/*background-color: green;*/
		padding-bottom: 20px;
		padding-top: 20px;

	}

	section #section-text span {
		font-weight: bolder;
		font-family: verdana;
	}

	section #section-text span:hover {
		color: orange;
	}

	#second-section {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 70vh;
		/*background-color: orange;*/
		justify-content: center;
		align-content: center;
		padding-top: 30px;
	}

	#second-section #second-section-heading h2{
		justify-content: center;
		align-content: center;
		display: flex;
		text-align: center;
		font-size: 50px;
		margin: 40px 0;
	}

	.btn-notify {
		width: 250px;
		height: 50px;
		border-radius:30px/24px;
		background-color: #55BA55;
		color: white;
		font-family: verdana;
		font-size: 12.5px;
		transition: 0.3s;
		align-self: center;
		margin-top: 50px;
	}

	footer {
		/*background-color: gray;*/
		display: flex;
		flex-direction: column;
		font-family: verdana;
		padding-top: 100px;
	}

	footer #footer-initial {
		/*background-color: yellow;*/
		display: flex;
		justify-content: space-between;
		font-size: 16px;

	}

	footer #footer-initial #web-links {
		line-height: 2;
	}

	footer #footer-initial #web-links ul {
		list-style: none;
	}

	footer #footer-initial #web-links ul li a{
		text-decoration: none;
		color: white;
		font-weight: 150;
	}

	footer #footer-initial #web-links ul li a:hover {
		color: orange;
	}

	footer #footer-initial #app-links #getapp {
		display: flex;
		flex-direction: column;
	}

	footer #footer-initial #app-links #getapp img {
		width: 130px;
		height: auto;
		margin-bottom: 10px;
		border: 1px solid white;
		border-width: 2px;
		border-radius: 12px;
	}

	footer #footer-initial #app-links #getapp img:hover {
		width: 130px;
		height: auto;
		margin-bottom: 10px;
		border: 1px solid orange;
		border-width: 2px;
		border-radius: 12px;
	}

	footer #footer-initial #app-links p {
		font-size: 16px;
		font-family: verdana;
		font-weight: 150;
		margin-bottom: 10px;
	}

	#social-links {
		margin-top: 40px;
	}

	.fa {
	  padding: 13px;
	  font-size: 25px;
	  width: 28px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 3px;
	  border-radius: 50%;
	}

	.fa:hover {
		color: orange;
	}

	.fa-instagram {
	  background: #222326;
	  color: white;
	}

	.fa-twitter {
	  background: #222326;
	  color: white;
	}

	footer #copyright {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 80px;
	}

	footer #copyright #copyright-links ul{
		display: flex;
		list-style: none;
	}

	footer #copyright #copyright-links ul li {
		padding-left: 20px;
	}

	footer #copyright #copyright-links ul li a {
		text-decoration: none;
		color: white;
		font-size: 10px;
	}

	footer #copyright #copyright-links ul li a:hover {
		color: orange;
	}

	footer #copyright #copyright-show p{
		font-size: 15px;
	}

}


/*============================================================================================*/


@media screen and (max-width: 932px){

	* {
	margin: 0;
	padding: 0;
	font-family: verdana;
	}

	body {
		width: 100%;
		background-color: black;
		display: flex;
		color: white;
	}

	#container {
		/*background: green;*/
		display: flex;
		flex-direction: column;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 5%;
		padding-left: 10%;
		padding-right: 10%;
	}
	/*    HEADER PART     */
	header {
		display: flex;
		margin-top: 25px;
		justify-content: space-between;
		/*background-color: lime;*/
	}

	#logo {
		display: flex;
		color: white;
	}

	img {
		width: 140px;
		height: auto;
	}

	p {
		align-self: center;
		font-size: 29px;
		font-family: Open Sans;
		margin-top: 5.5px;
	}

	header nav {
		visibility: hidden;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
	}

	header nav ul li {
		padding: 6px;
		font-family: sans-serif;
		color: white;
		font-weight: bolder;
		list-style-type: none;
		line-height: 35px;
	}

	header nav ul li a {
		text-decoration: none;
		color: white;
		font-family: sans-serif;

	}

	header nav ul li a:hover {
		color: orange;
	}

	#line {
		font-weight: 100;
		font-size: 18px;
		margin-top: -3px;
	}

	header #three-line-image {
		display: flex;
		position: absolute;
		color: white;
		visibility: visible;
		right: 13.5%;
		width: 50px;
		height: 40px;
	}

	/*    HERO PART     */

	hero {
		display: flex;
		margin: 20px -10px 60px -10px;
		text-align: center;
		/*background-color: orange;*/
	}

	hero #hero-content {
		display: flex;
		flex-direction: column;
		/*background-color: orange;*/
		justify-content: center;
		align-content: center;
		height: 80vh;
	}

	hero #hero-content #heading {
		text-align: center;
		display: flex;
		/*background-color: red;*/
		margin-bottom: 50px;
	}

	hero #hero-content #heading h1{
		justify-content: center;
		align-content: center;
		font-size: 70px;
	}

	.btn-notify {
		width: 250px;
		height: 50px;
		border-radius:30px/24px;
		background-color: #55BA55;
		color: white;
		font-family: verdana;
		font-size: 12.5px;
		transition: 0.3s;
		align-self: center;
		margin-top: 50px;
	}

	.btn-notify:hover {
		background-color: #64D862;
	}

	/*    SECTION PART     */

	section {
		/*background-color: orange;*/
		width: 100%;
		height: 330vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 10px;
		margin-bottom: 100px;
		/*background-color: red;*/
	}

	section #graphity {
		display: flex;
		flex-direction: column;
		margin-bottom: 160px;
		/*background-color: blue;*/
		width: 100%;
		text-align: center;
	}

	section #graphity img {
		display: flex;
		width: 20em;
		height: auto;
		padding-top: 75px;
		padding-bottom: 25px;
		align-self: center;
	}

	section #graphity #graphity-content {
		display: flex;
		
		padding: 50px;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		
	}

	section #graphity #graphity-content h2 {
		/*background-color: green;*/
		align-self: center;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #graphity #graphity-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;

	}

	section #room-25 {
		display: flex;
		flex-direction: column;
		margin-bottom: 100px;
		/*background-color: red;*/
		width: 100%;
		text-align: center;
	}

	section #room-25 img {
		display: flex;
		width: 20em;
		height: auto;
		padding-top: 75px;
		padding-bottom: 25px;
		align-self: center;
		order: 1;
	}

	section #room-25 #room-25-content {
		display: flex;
		order: 2;
		padding: 50px;
		flex-direction: column;
	}

	section #room-25 #room-25-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #room-25 #room-25-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
	}

	section #graph {
		display: flex;
		flex-direction: column;
		margin-bottom: 100px;
		/*background-color: red;*/
		width: 100%;
		text-align: center;
	}

	section #graph img {
		display: flex;
		width: 20em;
		height: auto;
		padding-top: 75px;
		padding-bottom: 25px;
		align-self: center;
	}

	section #graph #graph-content {
		display: flex;
		
		flex-direction: column;
		padding: 50px;
		margin-bottom: 30px;
		justify-content: center;
		align-content: center;
	}

	section #graph #graph-content h2 {
		/*background-color: green;*/
		align-self: flex-start;
		font-size: 50px;
		margin-bottom: 20px;
	}

	section #graph #graph-content p {
		/*background-color: yellow;*/
		align-content: flex-start;
		font-size: 30px;
		margin-bottom: 50px;
	}

	section #section-text {
		display: flex;
		align-self: center;
		text-align: center;
		/*background-color: green;*/
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 20px;
		padding-top: 20px;

	}

	section #section-text span {
		font-weight: bolder;
		font-family: verdana;
	}

	section #section-text span:hover {
		color: orange;
	}

	#second-section {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 50vh;
		/*background-color: orange;*/
		justify-content: center;
		align-content: center;
		padding-top: 30px;
	}

	#second-section #second-section-heading h2{
		justify-content: center;
		align-content: center;
		display: flex;
		text-align: center;
		font-size: 50px;
		margin: 40px 0;
	}

	.btn-notify {
		width: 250px;
		height: 50px;
		border-radius:30px/24px;
		background-color: #55BA55;
		color: white;
		font-family: verdana;
		font-size: 12.5px;
		transition: 0.3s;
		align-self: center;
		margin-top: 50px;
	}

	footer {
		/*background-color: gray;*/
		display: flex;
		flex-direction: column;
		font-family: verdana;
		padding-top: 100px;
	}

	footer #footer-initial {
		/*background-color: yellow;*/
		display: flex;
		justify-content: space-between;
		font-size: 16px;

	}

	footer #footer-initial #web-links {
		line-height: 2;
	}

	footer #footer-initial #web-links ul {
		list-style: none;
	}

	footer #footer-initial #web-links ul li a{
		text-decoration: none;
		color: white;
		font-weight: 150;
	}

	footer #footer-initial #web-links ul li a:hover {
		color: orange;
	}

	footer #footer-initial #app-links #getapp {
		display: flex;
		flex-direction: column;
	}

	footer #footer-initial #app-links #getapp img {
		width: 130px;
		height: auto;
		margin-bottom: 10px;
		border: 1px solid white;
		border-width: 2px;
		border-radius: 12px;
	}

	footer #footer-initial #app-links #getapp img:hover {
		width: 130px;
		height: auto;
		margin-bottom: 10px;
		border: 1px solid orange;
		border-width: 2px;
		border-radius: 12px;
	}

	footer #footer-initial #app-links p {
		font-size: 16px;
		font-family: verdana;
		font-weight: 150;
		margin-bottom: 10px;
	}

	#social-links {
		margin-top: 40px;
	}

	.fa {
	  padding: 13px;
	  font-size: 25px;
	  width: 28px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 3px;
	  border-radius: 50%;
	}

	.fa:hover {
		color: orange;
	}

	.fa-instagram {
	  background: #222326;
	  color: white;
	}

	.fa-twitter {
	  background: #222326;
	  color: white;
	}

	footer #copyright {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 80px;
	}

	footer #copyright #copyright-links ul{
		display: flex;
		list-style: none;
	}

	footer #copyright #copyright-links ul li {
		padding-left: 20px;
	}

	footer #copyright #copyright-links ul li a {
		text-decoration: none;
		color: white;
		font-size: 10px;
	}

	footer #copyright #copyright-links ul li a:hover {
		color: orange;
	}

	footer #copyright #copyright-show p{
		font-size: 15px;
	}

}